.image {
      height: 300px;
      width: 200px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #ccc;
    }

    .image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      pointer-events: none; /* allow dragging parent, not image */
    }

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .selected {
      border: 3px solid rgb(0, 195, 255);
    }